<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav class="example-button-row">
                <span><mat-icon>public</mat-icon> Ingenieria WEB Video </span>
                    <a mat-raised-button color="primary" routerLink="/equipos"  title="Lista de Equipos">
                        <mat-icon>view_list</mat-icon>
                        Equipos</a>
                    <a mat-raised-button color="primary" routerLink="/prestamos"  title="Lista de Préstamos">
                        <mat-icon>view_list</mat-icon>
                        Préstamo</a>
                    <a mat-raised-button color="primary" routerLink="/multas"  title="Filtrar Multas">
                            <mat-icon>view_list</mat-icon>
                            Multas</a>
            </nav>
            <div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>